[workspace]
members = ["kernel", "libs/*", "loader", "loader/api"]
resolver = "2"

[workspace.package]
version = "0.1.0"
edition = "2021"
authors = ["Jonas Kruckenberg <iterpre@protonmail.com>"]
license = "MIT OR Apache-2.0"

[workspace.lints.rust]
rust-2024-compatibility = "deny"
if_let_rescope = "allow"

#keyword_idents_2024 = 'warn'
#unsafe-attr-outside-unsafe = 'warn'
#deprecated-safe-2024 = 'warn'
#rust-2024-guarded-string-incompatible-syntax = 'warn'
#rust-2024-prelude-collisions = 'warn'
#rust-2024-incompatible-pat = 'warn'
#missing-unsafe-on-extern = 'warn'
#impl-trait-overcaptures = 'warn'

[workspace.lints.clippy]
large_futures = "deny"
large_stack_frames = "deny"
large_stack_arrays = "deny"
recursive_format_impl = "deny"

[workspace.dependencies]
addr2line = { path = "libs/addr2line" }
backtrace = { path = "libs/backtrace" }
dtb-parser = { path = "libs/dtb-parser" }
leb128 = { path = "libs/leb128" }
linked-list = { path = "libs/linked-list" }
mmu = { path = "libs/mmu" }
riscv = { path = "libs/riscv" }
sync = { path = "libs/sync" }
thread-local = { path = "libs/thread-local" }
unwind2 = { path = "libs/unwind2" }
wasm-encoder = { path = "libs/wasm-encoder" }
wast = { path = "libs/wast" }
wavltree = { path = "libs/wavltree" }
loader-api = { path = "loader/api" }

# third-party dependencies
cfg-if = "1.0.0"
log = "0.4.21"
bitflags = "2.6.0"
lock_api = "0.4.12"
xmas-elf = "0.9.1"
static_assertions = "1.1.0"
rand = { version = "0.8.5", default-features = false }
rand_chacha = { version = "0.3.1", default-features = false }
arrayvec = { version = "0.7.4", default-features = false }
gimli = { version = "0.31.0", default-features = false, features = ["read"] }
talc = { version = "4.4.2", default-features = false, features = ["lock_api", "counters"] }
smallvec = { version = "1", default-features = false }
rustc-demangle = "0.1"
fallible-iterator = { version = "0.3.0", default-features = false }

# wast dependencies
bumpalo = "3.14.0"
unicode-width = { version = "0.2.0" }
memchr = { version = "2.4.1", default-features = false }

#wat = "1.219.1"

# cranelift dependencies
hashbrown = { version = "0.15", default-features = false, features = [
    "inline-more",
    "nightly",
    "default-hasher",
] }
wasmparser = { version = "0.219", default-features = false, features = ["features", "validate"] }
target-lexicon = { version = "0.13.1", default-features = false }
cranelift-codegen = { git = "https://github.com/JonasKruckenberg/wasmtime.git", branch = "main", default-features = false, features = ["host-arch", "core"] }
cranelift-frontend = { git = "https://github.com/JonasKruckenberg/wasmtime.git", branch = "main", default-features = false, features = ["core"] }
cranelift-entity = { git = "https://github.com/JonasKruckenberg/wasmtime.git", branch = "main", default-features = false }
wasmtime-slab = "28.0.0"

[profile.release]
debug = "limited" # The kernel should be able to print stack traces of itself even in release mode
