[workspace]
members = [
    "kernel",
    "libs/*",
    "loader",
    "loader/api",
    "loader/api/macros",
    "libs/ktest/macros"
]
resolver = "2"

[workspace.package]
version = "0.1.0"
edition = "2021"
authors = ["Jonas Kruckenberg <iterpre@protonmail.com>"]
license = "MIT"

[workspace.lints.clippy]
large_futures = "deny"
large_stack_frames = "deny"
large_stack_arrays = "deny"
recursive_format_impl = "deny"

[workspace.lints.rust]
unexpected_cfgs = { level = "warn", check-cfg = ['cfg(loom)'] }

[workspace.dependencies]
kernel = { path = "kernel" }
loader-api = { path = "loader/api" }
backtrace = { path = "libs/backtrace" }
dtb-parser = { path = "libs/dtb-parser" }
pmm = { path = "libs/pmm" }
ktest = { path = "libs/ktest" }
linked-list = { path = "libs/linked-list" }
panic-common = { path = "libs/panic-common" }
panic-unwind = { path = "libs/panic-unwind" }
riscv = { path = "libs/riscv" }
semihosting-logger = { path = "libs/semihosting-logger" }
ksharded-slab = { path = "libs/ksharded-slab" }
sync = { path = "libs/sync" }
thread-local = { path = "libs/thread-local" }
unwind2 = { path = "libs/unwind2" }
leb128 = { path = "libs/leb128" }
wasm-encoder = { path = "libs/wasm-encoder" }
wast = { path = "libs/wast" }
wavltree = { path = "libs/wavltree" }

cfg-if = "1.0.0"
lock_api = "0.4.12"
log = "0.4.21"
bitflags = "2.6.0"
onlyerror = { version = "0.1.4", default-features = false }
arrayvec = { version = "0.7.4", default-features = false }
object = { version = "0.36.4", default-features = false }
gimli = { version = "0.31.0", default-features = false, features = ["read"] }
xmas-elf = "0.9.1"
talc = "4.4.2"
pin-project-lite = "0.2.15"
rand_chacha = { version = "0.3.1", default-features = false }
rand = { version = "0.8.5", default-features = false }

# wast dependencies
bumpalo = "3.14.0"
unicode-width = { version = "0.2.0" }
memchr = { version = "2.4.1", default-features = false }

# cranelift dependencies
hashbrown = { version = "0.14.5", default-features = false, features = [
    "inline-more",
    "nightly",
] }
wasmparser = { version = "0.221.0", default-features = false }
target-lexicon = { version = "0.13.0", default-features = false }
cranelift-wasm = { git = "https://github.com/JonasKruckenberg/wasmtime", branch = "no_std3", default-features = false, features = [
    "core",
] }
cranelift-codegen = { git = "https://github.com/JonasKruckenberg/wasmtime", branch = "no_std3", default-features = false, features = [
    "core",
    "host-arch",
] }
cranelift-frontend = { git = "https://github.com/JonasKruckenberg/wasmtime", branch = "no_std3", default-features = false, features = [
    "core",
] }
cranelift-entity = { git = "https://github.com/JonasKruckenberg/wasmtime", branch = "no_std3", default-features = false }

# build dependencies
proc-macro2 = "1"
quote = "1"
syn = { version = "2", features = ["full"] }

[profile.release]
opt-level = 3
codegen-units = 1
lto = true
strip = true
overflow-checks = true
split-debuginfo = "packed"

[profile.bench]
debug = true
