[package]
name = "kernel"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true

[lints]
workspace = true

[lib]
harness = false

[[bin]]
name = "kernel"
harness = false

[dependencies]
loader-api.workspace = true
pmm.workspace = true
panic-unwind.workspace = true
semihosting-logger = { workspace = true, features = ["hartid"] }
sync.workspace = true
thread-local.workspace = true
wavltree= { workspace = true, features = ["dot"] }
dtb-parser.workspace = true

talc.workspace = true
log.workspace = true
cfg-if.workspace = true
pin-project-lite.workspace = true
rand_chacha.workspace = true
rand.workspace = true
onlyerror.workspace = true
static_assertions.workspace = true
tracing.workspace = true
tracing-core.workspace = true
ksharded-slab.workspace = true

[target.'cfg(any(target_arch = "riscv64", target_arch = "riscv32"))'.dependencies]
riscv.workspace = true

[dev-dependencies]
ktest.workspace = true
wast.workspace = true
