[package]
name = "kernel"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true

[lints]
workspace = true

[[bin]]
name = "kernel"
harness = false

[dependencies]
loader-api.workspace = true
kmm.workspace = true
panic-unwind.workspace = true
semihosting-logger = { workspace = true, features = ["hartid"] }
sync.workspace = true
linked-list-allocator.workspace = true
thread-local.workspace = true
unwind2.workspace = true

log.workspace = true
talc.workspace = true
arrayvec.workspace = true
cfg-if.workspace = true

hashbrown.workspace = true
wasmparser.workspace = true
target-lexicon.workspace = true
cranelift-wasm.workspace = true
cranelift-codegen.workspace = true
cranelift-frontend.workspace = true
cranelift-entity.workspace = true
object = { workspace = true, features = ["read_core", "write_core", "elf"] }
gimli = { workspace = true, features = ["read"] }
onlyerror.workspace = true


[target.'cfg(any(target_arch = "riscv64", target_arch = "riscv32"))'.dependencies]
riscv.workspace = true

[dev-dependencies]
ktest.workspace = true
wast.workspace = true
