[package]
name = "kernel"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true

[[bin]]
name = "kernel"
harness = false

[lints]
workspace = true

[dependencies]
mmu.workspace = true
loader-api.workspace = true
thread-local.workspace = true
sync.workspace = true
dtb-parser.workspace = true
linked-list.workspace = true
unwind2.workspace = true
backtrace.workspace = true
wavltree ={ workspace = true, features = ["dot"] }

log.workspace = true
cfg-if.workspace = true
talc.workspace = true
static_assertions.workspace = true
arrayvec.workspace = true
bitflags.workspace = true
xmas-elf.workspace = true
fallible-iterator.workspace = true
rand_chacha.workspace = true
rand.workspace = true
pin-project = "1"

[target.'cfg(any(target_arch = "riscv64", target_arch = "riscv32"))'.dependencies]
riscv.workspace = true